.image-pub {
  max-width: 100px;
}
.issn-e {
  color: #ff531a;
  font-size: 20px;
}
.issn-s {
  color: white;
}
.title-h {
  padding-top: 10px;
  font-size: 25px;
  color: #ff531a;
}
.title-s {
  color: white;
}
.black-btn {
  cursor: pointer;
  outline: none;
  border: 2px solid white;
  background-color: white;
  font-size: medium;
  font-weight: 500;
  border-radius: 1.2vw;
  padding: 10px;
  color: white;
  display: inline;

  background-color: #000010;
  transition: all 0.2s;
  transition-duration: 450ms;
}
